@model DoAnCoSo_WebBanMoHinh.Models.Product

@{
    string pname = Model.Name;
    ViewData["Title"] = $"{pname} - Admin";
    var Images = ViewBag.Images;
}

<div class="container">
    <h4 class="mt-4 text-center">Chi Tiết Sản Phẩm: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <img class="rounded shadow-sm" src="@Model.ImageUrl" alt="..." style="width: 100%; height: auto;">
        </div>
        <div class="col-md-6">
            <h5 class="fw-bold">Giá: @Model.Price.ToString("#,##0") VNĐ</h5>
            <p><strong>Loại Sản Phẩm:</strong> @Html.DisplayFor(model => model.Category.CateName)</p>
            <p><strong>Hãng:</strong> @Html.DisplayFor(model => model.Company.CompName)</p>
            <p><strong>Số Lượng Còn Lại:</strong> @Html.DisplayFor(model => model.Stock)</p>
            <p><strong>Mô Tả:</strong> @Html.DisplayFor(model => model.Description)</p>
            <div class="btn-group mt-3" role="group">
                <a asp-area="Admin" asp-controller="ProductsManager" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Sửa
                </a>
                <a asp-area="Admin" asp-controller="ProductsManager" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Xóa
                </a>
                <a asp-area="Admin" asp-controller="ProductsManager" asp-action="Index" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left"></i> Trở Về
                </a>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <h5 class="fw-bold">Hình Ảnh Khác:</h5>
        <div class="row">
            @if (Images != null)
            {
                foreach (var item in Images)
                {
                    <div class="col-md-3 mb-3">
                        <img src="@item.Url" class="rounded shadow-sm" style="width: 100%; height: auto;">
                    </div>
                }
            }
        </div>
    </div>
</div>
