@model IEnumerable<DoAnCoSo_WebBanMoHinh.Models.Product>

@{
    ViewData["Title"] = "So Sánh Sản Phẩm";
}

<h1>So Sánh Sản Phẩm</h1>

@if (!Model.Any())
{
    <p>Không có sản phẩm nào trong danh sách so sánh.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th>
                    Hãng
                </th>
                <th>
                    Loại
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => product.Name)
                    </td>
                    <td>
                        <p>@product.Price.ToString("#,##0") VNĐ</p>
                    </td>
                    <td>
                        <img src="@product.ImageUrl" class="card-img-top" alt="..." style="height: 100px">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Company.CompName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Category.CateName)
                    </td>
                    <td>
                        <a asp-action="RemoveFromCompares" asp-controller="Products" asp-route-id="@product.Id" class="btn btn-danger me-3">
                            <button class="btn btn-danger">Xóa</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}