@model DoAnCoSo_WebBanMoHinh.Models.Product
@using System.Security.Claims

@{
    string pname = Model.Name;
    ViewData["Title"] = $"{pname}";
    var Images = ViewBag.Images;
    var FavoriteProducts = ViewBag.FavoriteProducts;
    var CompareProducts = ViewBag.CompareProducts;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a href="/products/ProductList">Sản Phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Name)</li>
    </ol>
</nav>

<section>
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div id="ProductCarousel" class="carousel carousel-dark slide mb-5">
                    <div class="carousel-inner">
                        <div class="carousel-item active c-item">
                            <div class="zoom-container">
                                <img src="@Model.ImageUrl" class="d-block c-img" alt="Image Active" data-bs-toggle="modal" data-bs-target="#imageModal">
                            </div>
                        </div>
                        @foreach (var item in Images)
                        {
                            <div class="carousel-item c-item">
                                <div class="zoom-container">
                                    <img src="@item.Url" class="d-block c-img" alt="Image" data-bs-toggle="modal" data-bs-target="#imageModal">
                                </div>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#ProductCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#ProductCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="display-6 fw-bolder">@Html.DisplayFor(model => model.Name)</h1>
                <div class="fs-5 mb-5">
                    <span>Giá: @Model.Price.ToString("#,##0") VNĐ</span> <br />
                    <span>Loại sản phẩm: @Html.DisplayFor(model => model.Category.CateName)</span> <br />
                    <span>Hãng: @Html.DisplayFor(model => model.Company.CompName)</span> <br />
                    <span>Còn lại: @Html.DisplayFor(model => model.Stock)</span>
                </div>
                <div class="d-flex">
                    @if (Model.Status == false)
                    {
                        <button class="btn btn-outline-dark flex-shrink-0" type="button" disabled>
                            <i class="bi-cart-fill me-1"></i> Sản phẩm đã hết hàng
                        </button>
                    }
                    else
                    {
                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-Id="@Model.Id" class="me-2">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>Thêm Vào Giỏ
                            </button>
                        </a>
                    }
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        var IsFavorite = Model.FavoriteProducts?.Any(u => u.ProductId == Model.Id && u.UserID == userId) ?? false;
                        var returnUrl = Context.Request.Path.ToString();
                        if(!IsFavorite)
                            {
                            <a asp-controller="Products" asp-action="AddToFavorites" asp-route-Id="@Model.Id" asp-route-returnUrl="@returnUrl" class="me-2">
                                    <button class="btn btn-outline-danger flex-shrink-0" type="button">
                                        <i class="bi-heart me-1"></i>Yêu Thích
                                    </button>
                                </a>
                            }
                            else
                            {
                            <a asp-controller="Products" asp-action="RemoveFromFavorites" asp-route-Id="@Model.Id" asp-route-returnUrl="@returnUrl" class="me-2">
                                    <button class="btn btn-danger flex-shrink-0" type="button">
                                        <i class="bi-heart-fill me-1"></i>Bỏ Yêu Thích
                                    </button>
                                </a>
                            }
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Login" class="me-2">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-heart me-1"></i>Đăng Nhập để Yêu Thích
                            </button>
                        </a>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        var Compared = Model.CompareProducts?.Any(u => u.ProductId == Model.Id && u.UserID == userId) ?? false;
                        if (!Compared)
                        {
                            <a asp-controller="Products" asp-action="AddToCompare" asp-route-Id="@Model.Id">
                                <button class="btn btn-outline-danger flex-shrink-0" type="button">
                                    <i class="bi-chevron-contract me-1"></i>So Sánh
                                </button>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Products" asp-action="RemoveFromCompares" asp-route-Id="@Model.Id">
                                <button class="btn btn-danger flex-shrink-0" type="button">
                                    <i class="bi-chevron-contract me-1"></i>Bỏ So Sánh
                                </button>
                            </a>
                        }
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Login">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-chevron-contract me-1"></i>Đăng Nhập để So Sánh
                            </button>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="tab-item">
        <a href="javascript:void(0);" class="d-flex align-items-center open-tabs">
            <i class="fa fa-chevron-up d-inline-block text-center toggle-icon"></i>
            <span class="d-inline-block ms-2">Thông tin bổ sung</span>
        </a>
        <div class="content-tab" style="display: none;">
            <p class="lead">@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="modalImage" src="" alt="Enlarged Image">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const openTabs = document.querySelector('.open-tabs');
        const contentTab = document.querySelector('.content-tab');
        const toggleIcon = document.querySelector('.toggle-icon');

        openTabs.addEventListener('click', function () {
            if (contentTab.style.display === 'none' || contentTab.style.display === '') {
                contentTab.style.display = 'block';
                toggleIcon.classList.remove('fa-chevron-down');
                toggleIcon.classList.add('fa-chevron-up');
            } else {
                contentTab.style.display = 'none';
                toggleIcon.classList.remove('fa-chevron-up');
                toggleIcon.classList.add('fa-chevron-down');
            }
        });
    });
</script>