@model IEnumerable<DoAnCoSo_WebBanMoHinh.Models.Product>

@{
    ViewData["Title"] = "Index";
    int quantity = 1;
}

<div id="BannerCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#BannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#BannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#BannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="~/images/cua_hang_do_choi_ban_rising_freedom_gundam_hg_1_144_557bd0df915c4e1eb9de8c500f1da50c_master.jpg" class="d-block w-100 c-img" alt="Image 1">
        </div>
        <div class="carousel-item c-item">
            <img src="~/images/10001_2171b92f517148d6978035ce5b6f4350_large.jpg" class="d-block w-100 c-img" alt="Image 2">
        </div>
        <div class="carousel-item c-item">
            <img src="~/images/10003_ba78954c22f94aaa9e9409f7a8c463a1_grande.jpg" class="d-block w-100 c-img" alt="Image 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#BannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#BannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section class="py-2">
    <h1 class="text-center">DANH SÁCH SẢN PHẨM</h1>
    <div class="container px-4 px-lg-5 mt-4">
        <div class="row gx-4 gx-lg-5 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                    <div class="col mb-5">
                        <div class="card" style="width: 17rem">
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <img src="@item.ImageUrl" class="card-img-top" alt="..." style="height: 250px" a asp-action="Details" asp-route-id="@item.Id">
                            </a>
                            <div class="card-body">
                                <h6 class="card-title">
                                    @Html.DisplayFor(modelItem => item.Company.CompName)
                                </h6>
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h5>
                                <div class="d-flex">
                                    <span>Giá: </span>
                                    <p class="mx-3">@item.Price.ToString("#,##0") VNĐ</p>
                                </div>
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-Id="@item.Id" asp-route-quantity="@quantity">
                                    <button class="btn btn-outline-dark">
                                        <i class="bi-cart-fill me-1"></i> Thêm Vào Giỏ
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</section>

<script>
    const myCarouselElement = document.querySelector('#BannerCarousel')

    const carousel = new bootstrap.Carousel(myCarouselElement, {
        interval: 4000,
        pause: "hover"
    })
</script>