@model IEnumerable<DoAnCoSo_WebBanMoHinh.Models.Product>
@using System.Security.Claims

@{
    ViewData["Title"] = "Trang Chủ";
    int quantity = 1;
    var returnUrl = Context.Request.Path.ToString();
}

<div id="BannerCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#BannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#BannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#BannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="~/images/slide_1_img.jpg" class="d-block w-100 c-img" alt="Image 1">
        </div>
        <div class="carousel-item c-item">
            <img src="~/images/slide_2_img.jpg" class="d-block w-100 c-img" alt="Image 2">
        </div>
        <div class="carousel-item c-item">
            <img src="~/images/slide_3_img.jpg" class="d-block w-100 c-img" alt="Image 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#BannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#BannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section class="py-2 mt-4">
    <h2 class="section-title text-center">
        <hr><span>SẢN PHẨM MỚI NHẤT</span><hr>
    </h2>
</section>

<div class="container px-4 px-lg-5 mt-4">
    <div class="row gx-4 gx-lg-5 row-cols-xl-4 justify-content-center">
        @foreach (var item in ViewBag.LatestProducts)
        {
            <div class="col mb-5">
                <div class="card">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.ImageUrl" class="card-img-top" alt="...">
                    </a>
                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-Id="@item.Id" asp-route-quantity="1" class="position-absolute">
                        <div>
                            <i class="bi bi-cart-plus"></i>
                        </div>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <div class="d-flex justify-content-center align-items-center">
                            <p>@item.Price.ToString("#,##0") VNĐ</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<section class="py-2">
    <h2 class="section-title">
        <hr><span>DANH SÁCH SẢN PHẨM</span><hr>
    </h2>
</section>

<div class="container px-4 px-lg-5 mt-4">
    <div class="row gx-4 gx-lg-5 row-cols-xl-4 justify-content-center">
        @foreach (var item in ViewBag.RandomProducts)
        {
            <div class="col mb-5">
                <div class="card">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.ImageUrl" class="card-img-top" alt="...">
                    </a>
                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-Id="@item.Id" asp-route-quantity="1" class="position-absolute">
                        <div>
                            <i class="bi bi-cart-plus"></i>
                        </div>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <div class="d-flex justify-content-center align-items-center">
                            <p>@item.Price.ToString("#,##0") VNĐ</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="d-flex justify-content-center">
        <a role="button" href="/products/ProductList" class="btn btn-primary btn-lg fw-bold">XEM TẤT CẢ</a>
    </div>
</div>

<script>
    const myCarouselElement = document.querySelector('#BannerCarousel')

    const carousel = new bootstrap.Carousel(myCarouselElement, {
        interval: 4000,
        pause: "hover"
    })
</script>